/*
green - #5cd89f
orange - #ff5c3e
yellow - #ffd36e
teal - #005d68
grey - #545454
grey2 - #f7f7f7
*/    


    html, body, #map, #sidebar {
    height: 100%;
    margin: 0px;
    }
    body {
    overflow: auto ;
    }
   #container {
    height: 100%;
    margin-top: 70px;
    margin-right: -4px;
    padding-bottom: 50px;
    }
    #map{
    height: 100%;
    margin: 0px;
    padding-left: 0px !important;
    }
    #sidebar {  
    border-right: 1px solid #E2E2E2;
    background-color:#f7f7f7;
    }
    .navbar-brand {
    padding: 8px 15px;
    line-height: 20px;
    }
    .panel-group .panel {
        margin-top: -11px;
        overflow: auto;
        border-radius: 0px;
    }
    .text-on-pannel {
      background: #fff none repeat scroll 0 0;
      height: auto;
      margin-left: 1px;
      padding: 2px 3px;
      position: absolute;
      margin-top: -35px;
      border: 1px solid #ff5c3e;
      border-radius: 8px;
      cursor: pointer;
    }
    .text-uppercase{
      color:#000;
    }
    .panel {
      /* for text on pannel */
      margin: 35px 0px 0px 15px !important;
      background-color: #E4E3DB;
    }
    .p2{
      /* for text on pannel */
      margin: 40px 0px 0px 15px !important;
    }
    .panel-body {
      padding-top: 15px !important;
      padding-bottom: 0px !important;
      border: 1.25px solid #ff5703;
    }
    .panel-primary{
       border-color:  #ff5c3e;
    }
    .legend-button{
      height: 37px;
      width: 37px;
      background: transparent;
    }
    .shadowfilter {
    -webkit-filter: drop-shadow(0px 0px 0px #fff);
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.3s linear;

    }
    .shadowfilter:hover {
    -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 87, 3, .95)) ;
    }
   /* #header-link{
    color: white;
    text-decoration: none;
    } */
    #full-logo{
    margin: 0px 0px 0px 0px;
    height:70px;
    }
    #dvrpc-logo{
    margin: -15px 0px 0px 0px;
    height:30px;
    }
    #idrum-logo{
    margin: -15px 0px 0px 0px;
    height:70px;
    }
    .idrum-logo{
    height: 90px;
    margin-right: 5px;
    float:left;
    }
    #header-link-text{
    font-size: 20px;
    margin: 4px 0px 0px 10px;
    }
    .container-fluid{
    z-index: 30;
    height: 83px;
    border-bottom: 3px solid #f7f7f7;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#312867', endColorstr='#396ab2');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = '#312867', endColorstr = '#396ab2')";
     background-image: linear-gradient(to bottom, #74747F 0%, #74747F 64%, #595963 64%, #595963 100%);
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    white-space: nowrap;
    }
    .mapboxgl-ctrl-attrib.compact {
    margin: 10px 10px 10px 10px;
    }
    .modal-footer {
    padding: 5px;
    }
    #about_footer {
    font-style: italic;
    background-color: #b9def0;
    border-radius: 4px;
    border: 1px solid transparent;
    background-image: linear-gradient(to bottom,#d9edf7 0,#b9def0 100%);
    }
     #about_footer p{
    margin: 10px;
    }
    .modal-dialog{
    width:800px;
    }
    h1 {
    font-size:22px;
    margin:0;
    font-weight:400;
    line-height: 20px;
    padding: 20px 2px;
    }
    a {
    color:#404040;
    text-decoration:none;
    }
    a:hover { 
    color:#101010; 
    }
    .heading {
    background:#666666;
    border-bottom:1px solid #eee;
    /*  min-height:60px; */
    line-height:10px;
    padding:0 10px;
    color: white;
    }
    .clearfix { display:block; }
    .clearfix:after {
    content:'.';
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    }
    #zoomtoregion{
    position: absolute;
    top:110px;
    right:12px;
    z-index:100;
    background-color:white;
    color:black;
    padding:6px;
    border-radius:4px;
    font-family: 'Helvetica Neue';
    cursor: pointer;
    font-size:12px;
    text-decoration:none;
    background-image: url(https://raw.githubusercontent.com/dvrpc/license-plate-survey/master/src/img/dvrpc_bug.png);
    background-size: 27px 27px;
     background-position: center; 
    background-repeat: no-repeat;
    height: 27px;
    width: 27px;
    }
    #zoomtoregion:hover{
    background-color: #ddd;
    }
    /* popup style */
    .mapboxgl-popup {
    padding-bottom: 30px;
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
    .mapboxgl-popup-close-button {
    display:none;
    }
    .mapboxgl-popup-content {
    font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding:0;
    width:230px;
    text-align: center;
    }
    .mapboxgl-popup-content-wrapper {
    padding:1%;
    }
    .mapboxgl-popup-content h3 {
    background:#666666;
    color:#fff;
    margin:0;
    display:block;
    padding:10px;
    border-radius:3px 3px 0 0;
    font-weight:700;
    margin-top:-15px;
    }
    .mapboxgl-popup-content h4 {
    margin:0;
    display:block;
    padding: 10px 10px 10px 10px;
    font-weight:400;
    margin: 0;
    }
    .mapboxgl-popup-content div {
    padding:10px;
    }
    .mapboxgl-container .leaflet-marker-icon { 
    cursor:pointer; 
    }
    .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
    }
    .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #91c949;
    }

div#row {
  overflow: hidden; /*This is a clearfix because all it's children are floated*/
}

div#row span {
  display: block;
}

div#row span img {
  display: block;
  float: left;
  width: 50px;
  margin-right: 10px;
}
    /* Map Layers */
   .quakeInfo {
    position: absolute;
    font-family: sans-serif;
    margin: 15px 10px 0px 5px;
    padding: 5px;
    width: 250px;
    border: 2px solid black;
    font-size: 14px;
    color: #222;
    background-color: #fff;
    border-radius: 3px;
    z-index: 1001;         
  }
  #legendBox {
        position: absolute;
        bottom: 33px;
        right: 10px;
        z-index: 1001;
        padding: 8px;
        background: rgba(255,255,255, 0.85);
    }
    #legend-stack {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 0px;
        background-color: #E4E3DB;
        border-radius: 4px;
    }   
    .legend-icons img {
      display: block;
      margin: 3px 1px 5px 5px;
      max-height: 100%;
      cursor: pointer;
    }
    #inforesults {
        margin: 5px 0px 0px 10px;
        border-radius: 4px;
        border-color: #dadada;
    }
    #howto {
        margin-left: 14px !important;
    }
    .about-icon {
    width: 35px;
    height: 42px;
    margin-right: 5px;
    float:left;
    }
    .about-icon2 {
    width: 38px;
    height: 38px;
    margin-right: 5px;
      float:left;
    }
    /* Layer Information */
    #info-stack {
        position: fixed;
        z-index: 100;
        bottom: 10px;
        left: 10px;
        max-height: 600px;
        width:450px;
        background-color: white;
        border-radius: 4px;
        padding: 8px;
    }   
    .alert-info {
    color: black;
    background-color: #E4E3DB ;
    border-color: white;
    }
    .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    }   
    #resultsheader{
    height:100%;
    width:100%;
    padding:5px 10px 5px 10px;
    }  
    #box {
    background-color:none;
    height:50px;
    width:100px;
    float:right;
    margin: 2px 10px 5px 2px;
    background-position: center;
    background-size: 100px 40px;
    background-repeat: no-repeat;
    }
    #info{
        padding: 10px;
    }
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button5 {
  background-color: #F5921D;
  color: white;
  border: 2px solid #ff5703;
}

.button5:hover {
  background-color:#FF5702;
  color: white;
}
.ct-existing {
    color: #F5921D;
    font-size: 25px;
    vertical-align: middle;
}
.other {
    color: #FF5703;
    display: inline-block;
    line-height: 25px;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
}
.one {
    color: #396ab2;
}