/*
green - #5cd89f
orange - #ff5c3e
yellow - ffd36e
teal - #005d68
grey - #545454
*/    


    html, body, #map, #sidebar {
    height: 100%;
    margin: 0px;
    }
    body {
    overflow: hidden ;
    }
   #container {
    height: 100%;
    margin-top: 50px;
    margin-right: -4px;
    padding-bottom: 50px;
    }
    #map{
    height: 100%;
    margin: 0px;
    padding-left: 0px !important;
    }
    #sidebar {  
    border-right: 1px solid #E2E2E2;
    background-color:#ffffff;
    }
    .navbar-brand {
    padding: 8px 15px;
    line-height: 20px;
    }
    .panel-group .panel {
        margin-top: -11px;
        overflow: auto;
        border-radius: 0px;
    }
    #header-link{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    }
    #dvrpc-logo{
        margin: 5px 0px 0px 0px;
    }
    #header-link-text{
    font-size: 20px;
    margin: 4px 0px 0px 10px;
    }
    .container-fluid{
    z-index: 30;
    background: #005d68;
    height: 60px;
    border-bottom: 3px solid #f7f7f7;
    }
    .mapboxgl-ctrl-attrib.compact {
    margin: 10px 10px 10px 10px;
    }
    .modal-footer {
    padding: 5px;
    }
    .modal-dialog{
    width:900px;
    }
    h1 {
    font-size:22px;
    margin:0;
    font-weight:400;
    line-height: 20px;
    padding: 20px 2px;
    }
    a {
    color:#404040;
    text-decoration:none;
    }
    a:hover { 
    color:#101010; 
    }
    .heading {
    background:#666666;
    border-bottom:1px solid #eee;
    /*  min-height:60px; */
    line-height:10px;
    padding:0 10px;
    color: white;
    }
    .clearfix { display:block; }
    .clearfix:after {
    content:'.';
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    }
    #zoomtoregion{
    position: absolute;
    top:160px;
    right:6px;
    z-index:100;
    background-color:white;
    color:black;
    padding:6px;
    border-radius:4px;
    font-family: 'Helvetica Neue';
    cursor: pointer;
    font-size:12px;
    text-decoration:none;
    background-image: url(https://raw.githubusercontent.com/dvrpc/license-plate-survey/master/src/img/dvrpc_bug.png);
    background-size: 27px 27px;
     background-position: center; 
    background-repeat: no-repeat;
    height: 27px;
    width: 27px;
    }
    #zoomtoregion:hover{
    background-color: #ddd;
    }
    /* popup style */
    .mapboxgl-popup {
    padding-bottom: 30px;
    }
    .mapboxgl-popup-close-button {
    display:none;
    }
    .mapboxgl-popup-content {
    font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding:0;
    width:230px;
    text-align: center;
    }
    .mapboxgl-popup-content-wrapper {
    padding:1%;
    }
    .mapboxgl-popup-content h3 {
    background:#666666;
    color:#fff;
    margin:0;
    display:block;
    padding:10px;
    border-radius:3px 3px 0 0;
    font-weight:700;
    margin-top:-15px;
    }
    .mapboxgl-popup-content h4 {
    margin:0;
    display:block;
    padding: 10px 10px 10px 10px;
    font-weight:400;
    margin: 0;
    }
    .mapboxgl-popup-content div {
    padding:10px;
    }
    .mapboxgl-container .leaflet-marker-icon { 
    cursor:pointer; 
    }
    .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
    }
    .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #91c949;
    }
    /* Map Layers */
       .quakeInfo {
        position: absolute;
        font-family: sans-serif;
        margin: 15px 10px 0px 5px;
        padding: 5px;
        width: 150px;
        border: 2px solid black;
        font-size: 14px;
        color: #222;
        background-color: #fff;
        border-radius: 3px;
        z-index: 1001;         
      }
    #legend-stack {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 115px;
        margin-left: 8px;
        background-color: white;
        border-radius: 4px;
    }   
    .legend-icons{
      width: 23%;
    } 
    .legend-icons img {
      display: block;
      margin: 5px 0px 5px 5px;
      max-height: 100%;
    }
    #inforesults {
        margin: 5px 0px 0px 10px;
        border-radius: 4px;
        border-color: #dadada;
    }
    #howto {
        margin-left: 14px !important;
    }
    .about-icon {
    width: 35px;
    height: 42px;
    margin-right: 5px;
    float:left;
    }
    .about-icon2 {
    width: 38px;
    height: 38px;
    margin-right: 5px;
      float:left;
    }
    /* Layer Information */
    #info-stack {
        position: fixed;
        z-index: 100;
        bottom: 10px;
        left: 10px;
        max-height: 600px;
        width:450px;
        background-color: white;
        border-radius: 4px;
        padding: 8px;
    }   
    .alert-info {
    color: black;
    background-color: #E4E3DB ;
    border-color: white;
    }
    .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    }   
    #resultsheader{
    height:100%;
    width:100%;
    padding:5px 10px 5px 10px;
    }  
    #box {
    background-color:none;
    height:50px;
    width:100px;
    float:right;
    margin: 2px 10px 5px 2px;
    background-position: center;
    background-size: 100px 40px;
    background-repeat: no-repeat;
    }
    #info{
        padding: 10px;
    }
    .carousel {
        padding:5px;
    }

.rhEL {background-color:#eb2226;color:white;font-size: 18px;}
.rhES {background-color:#19bbb8;color:white;font-size: 18px;}
.rhGB {background-color:#96c93d;color:white;font-size: 18px;}
.rhSPG {background-color: #fdbf12;color:white;font-size: 18px;}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: #555555;
  color: white;
}